.page {
  min-width: 100dvw;
  background: #1a1a2e;
  display: flex;
  font-family: "DM Sans", sans-serif;
}

.container {
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  overflow: hidden;
}
